<footer>
  <span>
    &copy; 2023 - {new Date().getFullYear()} Lumirant.top All Right Reserved<br>
    <div style="display: flex;justify-content: center;gap: 10px;">
      <div style="display: flex;align-items: flex-start;gap: 3px;">
        <img src="../../assets/mpsbeian.png" style="width: 16px;" /><a href="https://beian.mps.gov.cn/#/query/webSearch?code=44030002005026" rel="noreferrer" target="_blank">粤公网安备44030002005026</a>
      </div>
      <a href="http://beian.miit.gov.cn">粤ICP备2024313822号</a>
    </div>
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
