<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a style="text-decoration: none;" href="/">
  <!-- <img alt="Blog Logo" src="/assets/logo.webp" width="75" height="50" /> -->
  <p style="margin: 0;">Lumirant</p>
</a>
