---
const { blogSubTitle = '' } = Astro.props;
---

<div class="home-container" id="first-screen">
    <div class="home-copy">
      <h1>{blogSubTitle}</h1>
      <h4 style="font-weight: 200;">Where the Heart thinks, the action follows.</h4>
      <div class="mouse-hint">
        <?xml version="1.0" encoding="UTF-8"?><svg width="16" height="16" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 16H12V32C12 38.6274 17.3726 44 24 44C30.6274 44 36 38.6274 36 32V16H24Z" fill="none" stroke="#777" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M36 16C36 9.37258 30.6274 4 24 4V16H36Z" stroke="#777" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M24 4C17.3726 4 12 9.37258 12 16H24V4Z" stroke="#777" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <span>滚动鼠标滚轮以继续浏览</span>
      </div>
    </div>

    <div class="hero-image-container">
      <picture>
        <source srcset="/assets/home-illustration.webp" media="(min-width: 600px)">
        <img class="hero-image" alt="Illustration of person reading a book" src="/assets/home-illustration-small.webp" width="550" height="466">
      </picture>
      <!-- <p class="caption">
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </p> -->
    </div>
</div>

<script is:inline>
    function adjustFirstScreenHeight() {
      const headerNode = window.getComputedStyle(document.getElementById('nav-header'));
      const stickyNavNode = window.getComputedStyle(document.getElementById('sticky-bar'));
      const firstScreenNode = document.getElementById('first-screen');
      const headerHeight = parseFloat(headerNode.height.slice(0, headerNode.height.length - 2));
      const stickyNavHeight = parseFloat(stickyNavNode.height.slice(0, stickyNavNode.height.length - 2));
      if(stickyNavNode.display == 'none') computeHeight = headerHeight;
      else computeHeight = headerHeight + stickyNavHeight;
      firstScreenNode.setAttribute("style", "height: " + (window.innerHeight - computeHeight) + 'px');
      console.log(window.innerHeight - computeHeight,firstScreenNode)
    }
    
    window.addEventListener('resize', adjustFirstScreenHeight);
    window.addEventListener('load', adjustFirstScreenHeight);
</script>

<style>
    .home-container {
      align-items: center;
      display: flex;
      /* flex: 1; */
      justify-content: center;
      height: 818.41px;
      /* margin: 2em 0; */
      /* min-height: 400px; */
    }
  
    .home-copy {
      flex: 1;
      padding: 0 1em;
    }
  
    .home-copy h1 {
      font-weight: 700;
      margin-bottom: 0.5em;
      line-height: 1.3;
    }
  
    .home-copy p {
      font-size: 1.4em;
    }
  
    .hero-image-container {
      margin: 0 1em;
      text-align: center;
    }
  
    .hero-image-container picture {
      display: block;
      min-height: 250px;
    }
  
    .caption {
      font-size: .8em;
      font-style: italic;
      text-align: left;
    }
  
    .hero-image {
      width: 100%;
      max-width: 550px;
      margin-bottom: 1em;
    }

    .mouse-hint span {
      color: #777;
      vertical-align: middle;
    }

    .mouse-hint {
      display: flex;
      align-items: center;
      gap: 2px;
    }
    
    .mouse-hint svg {
        margin-bottom: .5px;
    }
  
    @media (max-width: 1200px) {
      p {
        font-size: 1.2em;
      }
  
      .hero-image {
        max-width: 400px;
      }
    }
  
    @media (max-width: 800px) {
      .home-container {
        flex-direction: column;
      }
  
      .home-copy {
        flex: 0;
        padding-bottom: 2em;
        text-align: center;
      }

      .mouse-hint {
        justify-content: center;
      }
    }
  </style>
