name: version-update
on: 
  push:
    branches:
      - "main"
jobs:
  Build-and-deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Checkout git code
        uses: actions/checkout@v4
      - name: setup node and use ndoe 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install and build
        run: |
          npm install
          npm run build
      - name: Setup SSH keys
        run: |
          mkdir -p ~/.ssh
          echo "$SERVER_SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa $SERVER_IP >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts
        env:
          SERVER_SSH_KEY: ${{ secrets.PRIVATE_KEY }}
          SERVER_IP: ${{ secrets.HOST_IP }}
      - name: Deploy to dist branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: dist
      - name: Deploy to server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.HOST_IP }}
          REMOTE_USER: root
          REMOTE_PORT: 22
          SOURCE: "/dist"
          ARGS : "-avzr --delete"
          TARGET: ${{ secrets.TARGET_DIR }}
          EXCLUDE: "/.astro/, /node_modules/, /.git/, /.github/, /.vscode/, /.gitattributes, /LICENSE, /screenshot.png"
          SCRIPT_AFTER: "echo 'Executing autoUpdate.sh...' && cd ${{ secrets.TARGET_DIR }} && ./autoUpdate.sh"
          SCRIPT_AFTER_REQUIRED : true
      # - name: Deploy to server
      #   run: |
      #     echo "Start to update"
      #     ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "bash ${{ secrets.TARGET_DIR }}/autoUpdate.sh"
      #   env:
      #     SERVER_USER: root
      #     SERVER_IP: ${{ secrets.HOST_IP }}
